@charset "utf-8";

@mixin border-radius($var) {
  /*设置角的形状*/
  border-radius: $var;
  -webkit-border-radius: $var;
  -moz-border-radius: $var;
}

@mixin box-shadow($var) {
  /*
  向框添加一个或多个阴影
  h-shadow：  水平阴影的位置（必需）
  v-shadow：  垂直阴影的位置（必需）
  blur：      模糊距离
  spread：    阴影的尺寸
  color：     阴影的颜色
  inset：     将外部阴影 (outset) 改为内部阴影
  */
  box-shadow: $var;
  -webkit-box-shadow: $var;
  -moz-box-shadow: $var;
}

body {
  background-color: #f4f4f4;
}

.header {
  background-color: white;
  .page-header ul {
    list-style: none;
  }
}

.navbar-base {
  margin-bottom: 20px;
}

.login-form {
  background-color: #FFFFFF;
  border: 1px solid #dedede; /*边框属性 宽度 样式 颜色*/
  border-radius: 10px; /*角的形状*/
  padding: 20px 20px 20px 20px; /*内边距属性 上 右 下 左*/
  margin: 0 auto; /*外边距属性 上 右 下 左*/
  @include box-shadow(0 1px 4px rgba(0, 0, 0, 0.27));

  input[type="text"], input[type="password"] {
    font-size: 15px;
    font-weight: 500;
    border: 1px solid #ccc; /*边框属性 宽度 样式*/
    @include border-radius(25px);
    width: 100%; /*元素的宽度*/
  }

  input[type="submit"] {
    width: 100%; /*元素的宽度*/
  }
}

.script-form {
  margin: 10px auto auto 10px;
  padding: 10px 10px 10px 10px;
  @include border-radius(5px);
  border: 1px solid black;
  background-color: white;
}

.script-tree {
  margin-top: 10px;
  ul {
    list-style: none;
  }
}

.directory {

}