{% extends "bootstrap/base.html" %}

{% block title %}Automated Test Platform{% endblock title %}

{% block metas %}
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta charset="utf-8">
{% endblock metas %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" type="text/css">
    <link rel="stylesheet" href="//at.alicdn.com/t/font_457408_56rgj5xvb0ozuxr.css" type="text/css">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
{% endblock styles %}

{% block content %}
    {#    <canvas></canvas>#}
{% endblock content %}


<div class="container">
    <div class="row">
        <div class="col-md-12">
            <p>这是页脚</p>
        </div>
    </div>
</div>

{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('static', filename='jmeter.js') }}"></script>
{% endblock scripts %}